:root{
    --color-AzulOscuro: #023047;
    --color-AzulMedio: #219EBC;
    --color-azulClaro: #8ECAE6;
    --color-amarillo: #FFB703;
    --color-naranja: #FB8500;
}
#background-image{
    
    /* background-image: url('https://img.freepik.com/foto-gratis/primer-plano-extremo-lineas-codigo-mostradas-monitores-computadora_482257-94050.jpg?t=st=1728844135~exp=1728847735~hmac=689a2802985931905fe4c395632b8eabfa32afb1ebf135ce97f31dc390392ec8&w=996'); */
    /* background-image: url('https://wallpapercave.com/wp/wp1904065.png'); */
    background-color: var(--color-AzulOscuro);
    background-position: center;
    background-size: cover;
    height: 100%;
    
}
#div-imagenes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.develop-image{
    mask-image: radial-gradient(square, rgb(0,0,0) 50%,transparent 66%);
}
.image-circle-gradient{
    mask-image: radial-gradient(circle, rgb(0,0,0) 40%,transparent 70%);
}

.image-container {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}
.image-container img {
    max-width: 100%; /* Asegura que la imagen no desborde su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.card{
    background-color: var(--color-azulClaro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.card-img-container {
    width: 300px; /* Ancho del contenedor */
    height: 200px; /* Alto del contenedor */
    background-color: white; /* Fondo blanco */
    display: flex; /* Para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    overflow: hidden; /* Ocultar desbordes */
}
.logo{
    margin: 10px;   
    transition: transform 0.3s, filter 0.3s;
}

.logo:hover{
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
    filter: brightness(1.3); /* Incrementa el brillo */
}

#div-container{
    background-color: var(--color-naranja);
    padding: 10px;
    margin-top: 20px;
}

.text-footer{
    font-family: monospace;
}

.titular{
    color: var(--color-naranja);
}
#name{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de transparencia */
    height: 100%; /* Altura del overlay */
    width: 100%; /* Ancho del overlay */
    top: 0; /* Alinea en la parte superior */
    left: 0; /* Alinea a la izquierda */
}

#major{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.typewriter {
    font-family: monospace;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden; /* Oculta el texto que aún no ha sido "escrito" */
    border-right: 2px solid; /* Cursor */
    width: 25ch; /* Controla el ancho del contenedor */
    animation: typing 4s steps(15, end), blink-caret 0.75s step-end infinite;
    transform: translateX(-50%); /* Mueve el texto hacia la izquierda */
    position: relative; /* Necesario para usar transform */
    left: 50%; /* Coloca el texto en el centro del contenedor */
}

@keyframes typing {
    from { width: 0; }
    to { width: 22ch; } /* Número de caracteres que se escriben */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

section{
    background-color: var(--color-AzulMedio);
}

footer{
    background-color: var(--color-AzulOscuro);
}

.curved-row {
    position: relative;
    background-color: #8ECAE6; /* Color del fondo */
    padding: 50px 0; /* Espaciado vertical */
}

/* CSS para la curva SVG */
.svg-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.svg-curve {
    background-color: var(--color-AzulMedio);
    display: block;
    width: 100%;
    height: auto;
}

.about-me-section {
    background-color: #8ECAE6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.curved-row:before {
    content: '';
    position: absolute;
    bottom: 100%; /* Ubica la curva justo arriba de la sección */
    left: 0;
    width: 100%;
    height: 50px; /* Altura de la curva */
    background: inherit; /* Hereda el color de fondo */
    border-radius: 50%; /* Crea la curva */
    transform: translateY(100%); /* Mueve la curva hacia arriba */
}

.content {
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
}